if [ $(hostname) = "mdizg-pim" ] || [ $(hostname) = "mlres-pim" ]; then
    alias notes="open -a /Applications/Typora.app ~/Dropbox/Notes"
    alias tp="open -a /Applications/Typora.app"
    alias sb="open -a Sublime\ Text"
    alias meso="cd ~/Github/mesophotic"
    alias scripts="cd ~/Github/radseq"
fi
