if [ $(hostname) = "mdizg-pim" ] || [ $(hostname) = "mlres-pim" ]; then
    alias notes="open -a /Applications/Typora.app ~/Dropbox/Notes"
    alias tp="open -a /Applications/Typora.app"
    alias sb="open -a Sublime\ Text"
    alias meso="cd ~/Github/mesophotic"
    alias scripts="cd ~/Github/radseq"
    alias darktable-cli='/Applications/darktable.app/Contents/MacOS/darktable-cli'
    alias cheat="cat ~/Dropbox/Notes/cheatsheet.md;"
elif [ $USERNAME = "deepcat" ] || [ $USERNAME = "pbongaerts" ]; then
    alias sb="~/tools/sublime_text_3/sublime_text"
    alias densecloud="~/tools/metashape-pro/metashape.sh -platform offscreen -r ~/reefscape/scripts/create_dense_cloud.py"
    alias create_ortho="~/tools/metashape-pro/metashape.sh -platform offscreen -r ~/reefscape/scripts/create_ortho.py"
    alias get_cameras="~/tools/metashape-pro/metashape.sh -platform offscreen -r ~/reefscape/scripts/get_cameras.py"
    alias convert_cameras="python3 ~/reefscape/scripts/convert_cameras.py"
    alias goto="python3 ~/workflow/scripts/go_to_model_folder.py"
fi