if [ $(hostname) = "mdizg-pim" ] || [ $(hostname) = "mlres-pim" ]; then
    alias notes="open -a /Applications/Typora.app ~/Dropbox/Notes"
    alias tp="open -a /Applications/Typora.app"
    alias sb="open -a Sublime\ Text"
    alias meso="cd ~/Github/mesophotic"
    alias scripts="cd ~/Github/radseq"
elif [ $(hostname) = "deepcat1" ] && [ $USERNAME = "deepcat" ]; then
    alias sb="~/tools/sublime_text_3/sublime_text"
    alias densecloud="~/tools/metashape-pro/metashape.sh -platform offscreen -r ~/protocols/scripts/create_dense_cloud.py"
fi
